

#logo-black{
    color: black;
}

.logo-text {
    color: crimson;
}
nav{
    display: flex;
    flex-direction: row;
    height: 10%;
    background: #ffe135;
    align-items: right;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    
    display: flex;
}
li{
    text-decoration: none;
}
#create-button{
    width:120px;
    height: 40px;

}

nav.li{
    flex-direction: row;
    text-decoration: none;
}

.blog-body {
    display: flex;
    flex-direction: column;
    height: 90%;
    border: 1px solid black;

}